* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    border-bottom: 1px solid #222;
    z-index: 100;
}

.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
}

.navbar nav a:hover {
    color: #ff0055;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENT */
.hero-content {
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 25px;
}

audio {
    width: 420px;
}

/* FOOTER */
footer {
    height: 50px;
    background: #000;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    opacity: 0.6;
    border-top: 1px solid #222;
}
